# Compiled binaries
*.dll
*.exe
*.pdb
*.compiled

# Database files
*.mdf
*.ldf
*.bak

# OS files
.DS_Store
Thumbs.db

# Backups
_db_backups/
SE/Copy of*

# Archives
*.rar
*.zip
node_modules/
.env
*.env.local
